.about{
    justify-content: center;
    align-items: center;
    padding:0 5rem;
}
.about-first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.about-first-item{
    display: flex;
    padding-right: 2rem;
    padding-left: 3rem;
    
}
.about-first-item h1{
    margin-top: 2rem;
    text-align: Left;
    font-size: 4rem;
    color: #034f36;
}
.about-first-item p{
    margin-top: 1rem;
    color: #737373;
    font-weight: 480;
    font-size: 0.9rem;
}

.about-first-item-img img{
    width: 12rem;
    border: none;
    margin-top: 8rem;
    margin-left: 4rem;
    border-radius: 10px;
}
.about-second-item{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.about-second-item img{
    width: 12rem;
}
.about-second-item-img img{
    margin-top: 5rem;
    border: none;
    border-radius: 10px;
    width: 12rem;
} 
.mission-row{
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    width: 50%;
}
.mission-row h1{
    text-align: left;
    color: #034f36;
    font-size: 2rem;
    text-transform: capitalize;
    padding-left: 2rem;
}
.mission-row p{
    padding-left: 2rem;
    color: #737373;
    font-weight: 500;
}